/* modal_section */
.modal_overlay {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #0000009d;
}
.modal_card {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around ; */
  /* align-items: center; */
  /* align-content: center; */
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 22%;
  height: 530px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #000;
  color: #ffffff;
  /* text-align: center; */
}
.modal_card_img {
  display: inline-block;
  background-image: url(/src/images/person.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 110px;
  height: 25%;
  margin: 30px 0 0 50px;
}
.modal_card_info {
  line-height: 29px;
  font-size: 90%;
  width: 200px;
  height: 30%;
  padding: 10px 0 0 30px;
}
.modal_card_info dt {
  clear: left;
  float: left;
  color: #666;
  width: 4.3em;
}
.modal_card_info dd {
  margin-left: 4.3em;
}
.modal_card_item {
  width: 100%;
  padding: 5px 10px 0 10px;
  /* border-top: solid 1px #333; */
}
.modal_card_item dt {
  color: #666;
  padding-bottom: 10px;
}
.modal_card_item dd {
  font-size: 92%;
}

/* intro_section */
.intro {
  /* border: solid 1px white; */
  font-size: 150px;
  color: yellow;
  padding-top: 130px;
  background-image: url(/src/images/team3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 94vh;
}

/* recruite_section */
.recruit_container {
  padding-top: 85px;
  color: white;
}
.recruit_section {
  display: flex;
  flex-flow: column;

  color: white;
  /* border: solid 1px #333; */
  width: 83.4vw;
}
.recruit_title {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 25px 0 10px 10px;
}
.recruit_articles {
  display: flex;
  flex-flow: row wrap;
}
.recruit_card {
  flex-basis: 300px;
  background-color: #000;
  cursor: pointer;
  height: 400px;
  margin: 0 8px 10px 11px;
}

/* recruit_card */

.recruit_card_img {
  background-image: url(/src/images/data1.jpg);
  width: 300px;
  height: 225px;
}

.recruit_card_img:hover {
  opacity: 0.8;
}
.recruit_card_nav {
  line-height: 1.6;
}
.recruit_card_title {
  margin-bottom: 1em;
  border-bottom: 1px solid #333;
  font-size: 94%;
  padding: 0.8em 10px;
}
.recruit_card_info {
  margin: 0 10px;
}
.recruit_card_info dl {
  font-size: 76%;
  margin: 0;
  padding: 0;
}
.recruit_card_info dt {
  clear: left;
  float: left;
  color: #666;
  width: 8em;
}
.recruit_card_info dd {
  margin-left: 8em;
}
.recruit_card_info .date {
  color: #aaa;
}

/* apply_section */
.apply_container {
  padding-top: 85px;
  color: white;
}
.apply_section {
  display: flex;
  flex-flow: column;

  color: white;
  /* border: solid 1px #333; */
  width: 83.4vw;
}
.apply_title {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 25px 0 10px 10px;
}
.apply_articles {
  display: flex;
  flex-flow: row wrap;
}
.apply_card {
  flex-basis: 300px;
  background-color: #000;
  cursor: pointer;
  height: 250px;
  margin: 0 8px 10px 11px;
  line-height: 1.6;
}
.apply_card:hover {
  border: solid 0.1px #ffffff;
}

.apply_card_info {
  display: inline-block;
  line-height: 29px;
  font-size: 77%;
  padding: 0 0 0 15px;
  margin: 0 0 0 5px;
}
.apply_card_info dt {
  clear: left;
  float: left;
  color: #666;
  width: 4.3em;
}
.apply_card_info dd {
  margin-left: 4.3em;
}
.apply_card_desc {
  font-size: 88%;
  padding: 5px 10px 0 10px;
  border-top: solid 1px #333;
}

.apply_card_img {
  display: inline-block;
  background-image: url(/src/images/person.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 35%;
  margin: 30px 0 0 20px;
}
