/* 로그인 모달 위치 */
.sign_in_and_out {
  /* flex 적용 */
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
  z-index: 30;

  /* position 설정 (중앙정렬)  */
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;

  /* 컨텐츠 크기 */
  width: 450px;
  height: 400px;

  /* 컨텐츠 테두리 */
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(65, 12, 12, 0.19),
    0 6px 6px rgba(82, 19, 19, 0.23);

  /* 컨텐츠 내부 */
  text-align: center;
  background-color: rgb(255, 255, 255);
}

/* 로그인 창 뒷배경 */
.signhandle_modal {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.37);
}

/* 로그인 창 */

.signin {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 이메일 로그인 */
.signin_container {
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signin_container_item:nth-child(1) {
  position: relative;
  top: 30px;
  align-items: center;
  flex-grow: 2;
  font-size: 1.1rem;
  color: rgba(46, 45, 45, 0.836);
}
.signin_container_item:nth-child(2) {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input[type='email'] {
  position: relative;
  width: 200px;
  bottom: 5px;
  height: auto; /* 높이 초기화 */
  line-height: normal; /* line-height 초기화 */
  padding: 0.5em 0.5em; /* 여백 설정 */
  border-width: 0px 0px;
  border-bottom: 1px;
  border-color: rgba(0, 0, 0, 0.247);
  background-color: inherit;
  border-style: solid;
  color: rgba(0, 0, 0, 0.863);
  transition: 0.15s;
}
input[type='email']:hover,
input[type='email']:focus {
  position: relative;
  width: 200px;
  bottom: 5px;
  height: auto; /* 높이 초기화 */
  line-height: normal; /* line-height 초기화 */
  padding: 0.5em 0.5em; /* 여백 설정 */
  border-width: 0px 0px;
  outline: none;
  border-bottom: 1px;
  border-color: rgb(0, 0, 0);
  background-color: inherit;
  border-style: solid;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

input[type='password'] {
  position: relative;
  width: 200px;
  bottom: 8px;
  height: auto; /* 높이 초기화 */
  line-height: normal; /* line-height 초기화 */
  padding: 0.5em 0.5em; /* 여백 설정 */
  border-width: 0px 0px;
  border-bottom: 1px;
  color: rgba(0, 0, 0, 0.87);
  border-color: rgba(0, 0, 0, 0.226);
  background-color: inherit;
  border-style: solid;
  transition: 0.15s;
}

input[type='password']:hover,
input[type='password']:focus {
  position: relative;
  bottom: 8px;
  height: auto; /* 높이 초기화 */
  line-height: normal; /* line-height 초기화 */
  padding: 0.5em 0.5em; /* 여백 설정 */
  border-width: 0px 0px;
  border-bottom: 1px;
  outline: none;
  border-color: rgba(0, 0, 0, 0.986);
  background-color: inherit;
  border-style: solid;
  transition: 0.3s;
}

.signin_container_item button[type='submit'],
.signup_container_form button[type='submit'] {
  all: unset;
  font-size: 0.85rem;
  background-color: rgba(59, 59, 59, 0.781);
  background-size: 30px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  transition: 0.15s;
}

.signin_container_item button[type='submit']:hover,
.signup_container_form button[type='submit']:hover {
  all: unset;
  font-size: 0.85rem;
  background-color: rgba(0, 0, 0, 0.856);
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
  transition: 0.3s;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(2, 0, 0, 0.23);
  cursor: pointer;
}

.signin_container_item_error {
  color: rgba(255, 44, 44, 0.562);
}

/* 소셜 로그인 */
.signin_social_login {
  position: relative;
  top: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.signin_login_content_github {
  position: relative;
  left: 70px;
}

.signin_login_content_kakao {
  position: relative;
  right: 70px;
}

.signin_login_content_img {
  height: 35px;
  border-color: white;
  border-right: 5px;
  margin-right: 2px;
  border-radius: 9px;
  transition: 0.5s;
}
.signin_login_content_img:hover {
  height: 35px;
  border-color: white;
  border-right: 5px;
  margin-right: 2px;
  border-radius: 6px;
  transition: 0.5s;
}
.signin_to_signup {
  all: unset;
  position: relative;

  font-size: 0.85rem;
  flex-grow: 1;
  color: rgb(88, 87, 87);
  transition: 0.1s;
}
.signin_to_signup:hover {
  all: unset;
  position: relative;

  font-size: 0.85rem;
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.904);
  transition: 0.3s;
}

/* 가입 창 */
.signup_container {
  width: 100%;
  height: 100%;
}

.signup_container_form {
  flex-grow: 3;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.signup_container_form_title {
  position: relative;
  top: 70px;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.705);
}
.signup_container_form_email {
  position: relative;
  top: 60px;
}
.signup_container_form_password {
  position: relative;
  top: 30px;
}
.signup_container_form_error {
  color: rgba(255, 44, 44, 0.562);
  position: relative;
  top: 15px;
}
.signup_container_form_button {
  position: absolute;
  bottom: 80px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(2, 0, 0, 0.23);
}

@media screen and (max-width: 600px) {
  .sign_in_and_out {
    width: 400px;
    height: 400px;
    transition: 1s;
  }
  .signin_login_content_github {
    left: 60px;
  }
  .signin_login_content_kakao {
    right: 60px;
  }
}
